
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*-ms-box-sizing: border-boxl;*/
    -webkit-box-sizing: border-box;
}
a {
    color: white !important;
}
.source {
    width: 300px;
    height: 500px;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
